In [1]:
# Importing Libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests

Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [2]:
html_text = requests.get("https://in.indeed.com/jobs?q=data%20analyst&l=Bangalore%2C%20Karnataka").text
soup = BeautifulSoup(html_text,'html.parser')
jobs = soup.find_all('div',class_='jobsearch-SerpJobCard')

In [3]:
job_name = []
company = []
summary = []
job_location = []

In [5]:
for job in jobs:
    atag = job.h2.a
    job_title = atag.get('title')
    job_name.append(job_title)

In [6]:
for x in jobs:
    ctag = x.find('span','company').text.strip()
    company.append(ctag)

In [7]:
for location in jobs:
    place = location.find('div', 'recJobLoc').get('data-rc-loc')
    job_location.append(place)

In [8]:
for i in jobs:
    sm = i.find('div', 'summary').text.strip().replace('\n', ' ')
    summary.append(sm)

In [42]:
import pandas as pd
weather = pd.DataFrame({
        "JOB_TITLE": job_name[:10],
         "COMPANY": company[:10],
         "EXPECTATIONS": summary[:10],
         "LOCATION": job_location[:10]
         
    })
weather

,JOB_TITLE,COMPANY,EXPECTATIONS,LOCATION
0,Data Scientist / Machine Learning Jobs in Noid...,Trane Technologies,"Interact with data analyst I, database develop...","Bengaluru, Karnataka"
1,"Data Scientist Engineer Jobs in India, Noida",Indeed,Advanced knowledge of a known data visualizati...,"Bengaluru, Karnataka"
2,"Data Analyst/ Scientist Jobs in India, Noida",PayPal,Create and maintain data pipelines on data ana...,"Bengaluru, Karnataka"
3,Data Analytics (Advanced Excel) Internship,Trane Technologies,"Interact with data analyst I, database develop...","Bengaluru, Karnataka"
4,Deep Learning / Computer Vision Engineer,KellyOCG,Ability to analyse and process the data. Good ...,"Bengaluru, Karnataka"
5,Data Scientist,Volvo Group,"Build expertise in data sources to find, manag...","Bengaluru, Karnataka"
6,Data Scientist,Proziod Analytics Pvt Ltd,\* Proven working experience as a data analyst...,"Koramangala, Bengaluru, Karnataka"
7,Data science,NetApp,Evaluate the ROI for the data enriched. Captur...,"Bengaluru, Karnataka"
8,Data Science Trainer,Myntra.com,A data analyst will need to own projects from ...,"Bengaluru, Karnataka"
9,Machine Learning and Deep learning expert,Jiva Sciences Private Limited,"Qualification - B.sc ( Prefer Physics , statis...","Bengaluru, Karnataka"

# 2.
Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [10]:
html_text1 = requests.get("https://in.indeed.com/jobs?q=data%20scientist&l=Bangalore%2C%20Karnataka&advn=7641058883739924&vjk=6dc1a9b79905765e").text
soup1 = BeautifulSoup(html_text1,'html.parser')
jobs1 = soup1.find_all('div',class_='jobsearch-SerpJobCard')

In [11]:
name = []
Company = []
Summary = []
location = []

In [12]:
for i in jobs1:
    btag = i.h2.a
    title = btag.get('title')
    name.append(title)

In [13]:
for x in jobs1:
    Ctag = x.find('span','company').text.strip()
    Company.append(Ctag)

In [14]:
for pla in jobs1:
    place = pla.find('div', 'recJobLoc').get('data-rc-loc')
    location.append(place)

In [15]:
for i in jobs1:
    sam = i.find('div', 'summary').text.strip().replace('\n', ' ')
    Summary.append(sam)

In [16]:
import pandas as pd
qwe = pd.DataFrame({
        "JOB_TITLE": name[:10],
         "COMPANY": Company[:10],
         "EXPECTATIONS": Summary[:10],
         "LOCATION": location[:10]
    })
qwe

,JOB_TITLE,COMPANY,EXPECTATIONS,LOCATION
0,Data Scientist,KellyOCG,Investigate data quality and clean data where ...,"Bengaluru, Karnataka"
1,Data Scientist,HP,We are looking for self-driven & expert data s...,"Bengaluru, Karnataka"
2,Statistical Forecasting - Data Scientist,HP,HP is the world’s leading personal systems and...,"Bengaluru, Karnataka"
3,Research Intern (Computer Vision & Machine Lea...,Avian Aerospace Pvt Ltd,We are a fast growing Technology Startup based...,"Bengaluru, Karnataka"
4,Data Scientist - Big Data OPS,HP,Ensures data integrity and data quality of the...,"Bengaluru, Karnataka"
5,Data Scientist,PayPal," Strong in data science, analytics and proble...","Bengaluru, Karnataka"
6,Experienced Data Scientist,BOEING,"Ensure data quality and integrity, Interpret a...","Bengaluru, Karnataka"
7,Data Scientist IV,Conduent,Helps other data scientists understand the bro...,"Bengaluru, Karnataka"
8,Sr. Data Scientist,Availity,Having at least 3 years of hands on experience...,"Bengaluru, Karnataka"
9,Data Scientist I/II,Philips,"As data scientist you will investigate, discer...","Bengaluru, Karnataka"
10,Data Scientist -Machine Learning (Commerce BU),Blue Yonder,"Independently, or alongside junior scientists,...","Bengaluru, Karnataka"
11,Lead Data Scientist,Schneider Electric,<>. <>.,"Bengaluru, Karnataka"
12,Data Scientist - Fuel Economy,Mercedes-Benz Research and Development India P...,"Experience in data modelling, data analysis, d...","Bengaluru, Karnataka"
13,Snr Data Scientist-NBFC(Financial services)-Ba...,Angel & Genie,"Excellent communication skills (written, verba...","Bengaluru, Karnataka"
14,Data Scientist,Commonwealth Bank,Deliver business value by interpreting data (i...,"Bengaluru, Karnataka"

# 3.
Scrape data for “Data Scientist” designation for first 10 job results from Naukri.com

In [17]:
html_text2 = requests.get("https://in.indeed.com/jobs?q=data%20scientist%20%E2%82%B93%2C00%2C000&l=Delhi&ts=1613473497941&rq=1&rsIdx=1").text
soup2 = BeautifulSoup(html_text2,'html.parser')
jobs2 = soup2.find_all('div',class_='jobsearch-SerpJobCard')

In [18]:
job_name = []
Company_name = []
Summary = []
Location = []

In [19]:
for i in jobs2:
    ytag = i.h2.a
    title = ytag.get('title')
    job_name.append(title)

In [20]:
for x in jobs2:
    otag = x.find('span','company').text.strip()
    Company_name.append(otag)

In [22]:
for pl in jobs2:
    Place = pl.find('div', 'recJobLoc').get('data-rc-loc')
    Location.append(Place)

In [24]:
for i in jobs2:
    sym = i.find('div', 'summary').text.strip().replace('\n', ' ')
    Summary.append(sym)

In [43]:
import pandas as pd
twe = pd.DataFrame({
        "JOB_TITLE": job_name[:10],
         "COMPANY": Company_name[:10],
         "EXPECTATIONS": Summary[:10],
         "LOCATION": Location[:10]
    })
twe

,JOB_TITLE,COMPANY,EXPECTATIONS,LOCATION
0,Data Scientist / Machine Learning Jobs in Noid...,ANI Calls India Private Limited,Strong intuition for data and Keen aptitude on...,"Delhi, Delhi"
1,"Data Scientist Engineer Jobs in India, Noida",ANI Calls India Private Limited,Job Description : 5 years of professional expe...,"Delhi, Delhi"
2,"Data Analyst/ Scientist Jobs in India, Noida",ANI Calls India Private Limited,"Design, develop and implement data science and...","Delhi, Delhi"
3,Data Analytics (Advanced Excel) Internship,Credgenics,Selected intern's day-to-day responsibilities ...,"Delhi, Delhi"
4,Deep Learning / Computer Vision Engineer,Agrex Technologies Private Limited,"Understanding of data structures, data modelin...","Delhi, Delhi"
5,Data Scientist,Terra Economics & Analytics Lab (TEAL),Creating compelling data visualizations and co...,"New Delhi, Delhi"
6,Data Scientist,"ESRI, Inc.","Our team develops tools, APIs, and AI models f...","New Delhi, Delhi"
7,Data science,Badatya Private Limited,Data Scientist For Trainer Role*. We are looki...,"South Extn Part I, Delhi"
8,Data Science Trainer,onfo digitalways Pvt. Ltd.,Required Data Science Trainer cum Teacher for ...,"Uttam Nagar, Delhi, Delhi"
9,Machine Learning and Deep learning expert,Baoiam,Need Machine learning/Deep learning expert. Pa...,"Delhi, Delhi"

# 5.
Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount

In [29]:
Brand1 = []
Product_Description1 = []
Price1 = []
Discount1 = []

In [30]:
pags = list(range(1,5))
for page in pags:
    requr = requests.get("https://www.flipkart.com/search?q=sunglasses&sid=26x&as=on&as-show=on&otracker=AS_QueryStore_HistoryAutoSuggest_1_4_na_na_na&otracker1=AS_QueryStore_HistoryAutoSuggest_1_4_na_na_na&as-pos=1&as-type=HISTORY&suggestionId=sunglasses%7CSunglasses&requestId=ed6f54e5-30b5-43c9-80e9-476306844180&as-searchtext=sung".format(page)).text  # URL of the website which you want to scrape
    soup9 = BeautifulSoup(requr,'html.parser')
    des = soup9.find_all('div' , class_='_2WkVRV')
    for i in range(len(des)):
        Brand1.append(des[i].text)
    len(Brand1)
    price = soup9.find_all('div',class_='_30jeq3') 
    for i in range(len(price)):
        Price1.append(price[i].text)
        len(Price1)
    xc = soup9.find_all('a',class_='IRpwTa') 
    for i in range(len(xc)):
        Product_Description1.append(xc[i].text)
        len(xc)
    cv = soup9.find_all('div',class_='_3Ay6Sb')
    for i in range(len(cv)):
        Discount1.append(cv[i].text)
        len(cv)

In [31]:
import pandas as pd
kwe = pd.DataFrame({
        "BRAND": Brand1[:100],
         "PRODUCT_DESC": Product_Description1[:100],
         "PRICE": Price1[:100],
         "DISCOUNT": Discount1[:100]
    })
kwe

,BRAND,PRODUCT_DESC,PRICE,DISCOUNT
0,hipe,"UV Protection, Mirrored Round Sunglasses (Free...",₹169,87% off
1,HIPPON,UV Protection Wayfarer Sunglasses (55),₹198,83% off
2,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹499,37% off
3,Elligator,UV Protection Round Sunglasses (54),₹295,88% off
4,Phenomenal,"UV Protection, Mirrored Retro Square Sunglasse...",₹399,80% off
...,...,...,...,...
95,ETRG,"Gradient, UV Protection Aviator Sunglasses (99)",₹295,88% off
96,shah collections,"UV Protection, Polarized, Mirrored Rectangular...",₹399,80% off
97,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹399,80% off
98,Online Mantra,"UV Protection Round, Aviator Sunglasses (Free ...",₹599,33% off
99,Fastrack,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹331,80% off

# 5.
Scrape 100 reviews data from flipkart.com for iphone11.

In [32]:
Rating = []
Review = []
Review_Summary = []

In [33]:
pag = list(range(1,12))
for page in pag:
    reque = requests.get("https://www.flipkart.com/apple-iphone-11-white-64-gb/product-reviews/itmfc6a7091eb20b?pid=MOBFWQ6BVWVEH3XE&lid=LSTMOBFWQ6BVWVEH3XESAHPTP&marketplace=FLIPKART".format(page)).text  # URL of the website which you want to scrape
    soup6 = BeautifulSoup(reque,'html.parser')
    qwer = soup6.find_all('div' , class_='_3LWZlK _1BLPMq')
    for i in range(len(qwer)):
        Rating.append(qwer[i].text)
    len(Rating)
    rev = soup6.find_all('p',class_='_2-N8zT') 
    for i in range(len(rev)):
        Review.append(rev[i].text)
        len(Review)
    rs = soup6.find_all('div',class_='t-ZTKy') 
    for i in range(len(rs)):
        Review_Summary.append(rs[i].text)
        len(rs)

In [34]:
import pandas as pd
pwe = pd.DataFrame({
        "RATING": Rating[:100],
         "REVIEW": Review[:100],
         "REVIEW_SUMMARY": Review_Summary[:100],
    })
pwe

,RATING,REVIEW,REVIEW_SUMMARY
0,5,Perfect product!,Amazing phone with great cameras and better ba...
1,5,Great product,Amazing Powerful and Durable Gadget.I’m am ver...
2,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
3,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
4,5,Brilliant,The Best Phone for the MoneyThe iPhone 11 offe...
...,...,...,...
85,5,Perfect product!,Value for money❤️❤️Its awesome mobile phone in...
86,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
87,5,Worth every penny,It’s been almost a month since I have been usi...
88,5,Wonderful,*Review after 10 months of usage*Doesn't seem ...
89,4,Nice product,Awesome Phone. Slightly high price but worth. ...

# 6.
Scrape data for first 100 sneakers you find when you visit flipkart.com.

In [35]:
Brand = []
Product_Description = []
Price = []
discount = []

In [37]:
pags = list(range(1,5))
for page in pags:
    reqe = requests.get("https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off".format(page)).text  # URL of the website which you want to scrape
    soup5 = BeautifulSoup(reqe,'html.parser')
    descr = soup5.find_all('div' , class_='_2WkVRV')
    for i in range(len(descr)):
        Brand.append(descr[i].text)
    len(Brand)
    price = soup5.find_all('div',class_='_30jeq3') 
    for i in range(len(price)):
        Price.append(price[i].text)
        len(Price)
    xc = soup5.find_all('a',class_='IRpwTa') 
    for i in range(len(xc)):
        Product_Description.append(xc[i].text)
        len(xc)
    cv = soup5.find_all('div',class_='_3Ay6Sb')
    for i in range(len(cv)):
        discount.append(cv[i].text)
        len(cv)

In [38]:
import pandas as pd
awe = pd.DataFrame({
        "BRAND": Brand[:100],
         "PRODUCT_DESC": Product_Description[:100],
         "PRICE": Price[:100],
         "DISCOUNT": discount[:100]
    })
awe

,BRAND,PRODUCT_DESC,PRICE,DISCOUNT
0,Kizaar,"Fashionable Casual, Canvas,official or Partywe...",₹411,58% off
1,Crysta,1245SpiderBlack Sneakers For Men,₹270,45% off
2,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,₹449,77% off
3,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹399,60% off
4,World Wear Footwear,Combo Pack of 4 Latest Collection Stylish Casu...,₹474,76% off
...,...,...,...,...
95,Chevit,Smart Casuals Canvas Shoes Combo pack of 2 Sne...,₹349,65% off
96,Axter,Combo Pack of 2 Latest Collection Stylish Casu...,₹398,60% off
97,Aura,Trendy and Stylish Combo Pack of 3 Casual Shoe...,₹236,52% off
98,BRUTON,Combo Pack Of 4 Canvas Sneakers For Men,₹242,65% off
99,Red Tape,Sneakers For Men,₹630,64% off

# 7.
Scrape data for first 10 Laptops you find when you visit flipkart.com.

In [39]:
descriptions = []
prices = []
ratings = []

In [40]:
pages = list(range(1,2))
for page in pages:
    req = requests.get("https://www.flipkart.com/search?q=laptops&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page={}".format(page)).text  # URL of the website which you want to scrape
    soup4 = BeautifulSoup(req,'html.parser')
    desc = soup4.find_all('div' , class_='_4rR01T')
    for i in range(len(desc)):
        descriptions.append(desc[i].text)
    len(descriptions)
    price = soup4.find_all('div',class_='_30jeq3 _1_WHN1') 
    for i in range(len(price)):
        prices.append(price[i].text)
        len(prices)

    rating = soup4.find_all('div',class_='_3LWZlK') 
    for i in range(len(rating)):
        ratings.append(rating[i].text)
        len(ratings)

In [41]:
import pandas as pd
dwe = pd.DataFrame({
        "TITLE": descriptions[:10],
         "RATING": ratings[:10],
         "PRICE": prices[:10],
    })
dwe

                                               TITLE RATING    PRICE
0  Asus ROG Zephyrus G Ryzen 7 Quad Core 3750H - ...    4.2  ₹84,990
1  Asus ZenBook Flip 14 Ryzen 5 Quad Core 3500U 2...    4.4  ₹65,711
2  HP 15s Celeron Dual Core - (4 GB/1 TB HDD/Wind...      4  ₹23,990
3  Lenovo Ideapad Gaming 3 Ryzen 5 Hexa Core 4600...    4.5  ₹59,990
4  Dell Inspiron 3505 Ryzen 3 Dual Core 3250U - (...    4.4  ₹34,790
5  MSI Modern 14 Ryzen 5 Hexa Core 4500U - (8 GB/...    4.7  ₹51,990
6  HP 15 Ryzen 3 Dual Core 3200U - (4 GB/1 TB HDD...    4.1  ₹30,990
7  HP 14 Core i5 10th Gen - (8 GB/512 GB SSD/Wind...    4.3  ₹47,490
8  Asus Core i3 10th Gen - (4 GB/512 GB SSD/Windo...    4.3  ₹36,990
9  Asus VivoBook 14 Ryzen 5 Quad Core 3500U - (8 ...    4.4  ₹43,990